#contact {
  padding: 50px !important;
  background-color: rgba(92, 149, 255, 0.1);
  border-radius: 20px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.contact img {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 80%;
  height: auto;
}

.contact h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #333;
}

.footer{
  margin-top: 40;
  /* background-color: rgba(25, 18, 80, 0.8); */
}

.footer h6{
font-weight: bolder;
margin-bottom: 20px;
}

#notification {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 9999;
}

    /* Mengatur animasi naik turun */
    @keyframes float {
      0% {
          transform: translateY(0);
      }
      50% {
          transform: translateY(-10px); /* Naik sedikit */
      }
      100% {
          transform: translateY(0); /* Kembali ke posisi awal */
      }
    }

    .about img {
      animation: float 3s ease-in-out infinite; /* Efek animasi melayang */
      will-change: transform; /* Memberitahukan browser untuk mempersiapkan transformasi */
    }

    .partner-logos img.active {
        opacity: 1;
        transform: scale(1.2);
    }    

      .partner-logos img {
        opacity: 0.15;
        transition: opacity 0.5s ease-in-out;
        padding:5px;
        max-width: 120px;
        height: auto;
        object-fit: contain; /* Menjaga aspek rasio gambar */
        transition: transform 0.5s ease; /* Menambahkan efek transisi saat hover */
      }

      .partner-logos img:hover {
        opacity: 1;
        transform: scale(1.2); 
      }

      .partner-logos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }
      
      /* Section appear ons croll */
      .appear-on-scroll {
        opacity: 0; 
        transform: translateY(20px);
        transition: opacity 0.5s ease, transform 0.8s ease;
      }

      .appear-on-scroll.visible {
        opacity: 1;
        transform: translateY(0); 
      }
      /* End Section appear ons croll */    
      
      .slider-search {
        border-radius: 38px;
        padding: 5px;
        padding-right: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      }
      .view {
        font-family: "Raleway", sans-serif;
        border-radius: 8px;
        color: #191250;
        width: 35px;
        height: 35px;
        margin-top: 10px;
        border: 1px solid #191250;
        transition: 0.9s; 
        backdrop-filter: blur(30px);
        margin-left: 5px;
        opacity: 80%;
        text-decoration: none;
      }

      .view:hover{
        color: white;
        border: 1px solid #488EFE;
        background-color:#488EFE; 
        opacity: 100%;       
      }
      
      .carddomain {
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
      }

      .available {
        color: white;
        background-color: rgba(72, 142, 254, 0.5); /* Warna hijau muda untuk tersedia */
        border-radius: 10px;
        border: 1px solid #488EFE;
      }

      .unavailable {
        color: white;
        background-color: rgba(249, 84, 84, 0.5); /* Warna merah muda untuk tidak tersedia */
        border-radius: 10px;
        border: 1px solid #F95454;
      }

      .btn-select {
        background-color: #007bff; /* Warna biru untuk tombol */
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px; /* Jarak antara teks dan tombol */
    }
    
    .btn-select:hover {
        background-color: #0056b3; /* Warna gelap saat hover */
    }
          
      .container-global {
        margin: 20px;
        position: relative; /* Agar bisa menggunakan z-index */
        /* background-color: rgba(255, 255, 255, 0.1); */
        /* backdrop-filter: blur(10px); */
        padding: 50px;
        border-radius: 10px; /* Membuat sudut sedikit membulat */
        z-index: 1; /* Agar berada di atas elemen lain */
      }

      #domainForm input{
        border-radius: 10px ;
        padding: 15px;  
        width: 100%;
        flex: 1; /* Agar input mengambil ruang sebanyak mungkin */
        border: 1px solid #ccc;
      }

      #domainForm button{
        margin: 0px !important;
      }


      #domainForm input:focus {        
        border-color: #FFCB47; /* Ubah warna border saat input fokus */
        outline: none !important; /* Menghilangkan outline default */
        .slider-search{
          border: 1px solid #FFCB47;
        }
    }
      .form-row {
        display: flex;
        width: 100%; /* Mengisi lebar penuh */
        gap: 10px; /* Jarak antara input dan tombol */
      }
      .card-container {
         margin-top: 10px;
         padding: 0px;
      }

      .card {
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(5px);
          border: none; 
          border-radius: 8px;
          text-align: center;
          padding: 10px;
          margin-top: 20px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          
      }
      .card:hover{
        transform: scale(1.1);
        z-index: 10;
        box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
      }

      .card img {
          max-width: 100%; 
          border-radius: 8px;
          height:170px;
          object-position: top;
          object-fit: cover;
          overflow: hidden;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }

      .card-title {
          font-family: "Raleway", sans-serif;
          color: #191250;
          font-weight: 500;
          margin-top: 5px;
          text-align: left;
          
      }

      .card-description {
          color: #666; /* Warna deskripsi */
          margin: 10px 0; /* Jarak atas dan bawah */
      }

      .live-preview-btn {
          background-color: #007bff; /* Warna latar belakang tombol */
          color: white; /* Warna teks */
          padding: 10px; /* Ruang di dalam tombol */
          border: none; /* Tanpa border */
          border-radius: 5px; /* Sudut membulat */
          cursor: pointer; /* Kursor tangan saat hover */
      }

      /* Style untuk loading spinner */
      .spinner {
          border: 8px solid #f3f3f3; /* Warna dasar */
          border-top: 8px solid #3498db; /* Warna bagian atas */
          border-radius: 50%; /* Bentuk bulat */
          width: 60px; /* Ukuran spinner */
          height: 60px; /* Ukuran spinner */
          animation: spin 2s linear infinite; /* Animasi berputar */
          display: none; /* Tersembunyi secara default */
          margin: 20px auto; /* Memusatkan spinner */
      }

      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }

      /* Responsif untuk layar kecil */
      @media (max-width: 768px) {
          .card {
              width: calc(50% - 20px); /* Lebar 50% untuk layar kecil */
          }
      }

      @media (max-width: 480px) {
        .our{
          padding: 25px !important;
        }
          .card {
              width: 100%; /* Lebar 100% untuk layar sangat kecil */
          }
      }
      
      
      .serContainer{
        transition: 0.3s;
        border: 1px solid #fff;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
      .serv{
        padding: 10px;
      }
      .serv h3{
        font-family: "Raleway", sans-serif;
        font-weight: bolder;
        font-size: 25px;
        line-height: 30px;
        /* color: #191250 !important; */
        color: rgba(0, 0, 0, 0.8) !important;
      }
      .serContainer:hover{
        margin-top: -10px;
        box-shadow: 0 2px 10px rgba(92, 149, 255, 0.5);
        border: 1px solid rgba(92, 149, 255, 0.5);
        p{
          color: #010A44 !important;
        }
        h3{
        background: linear-gradient(to right, #488EFE, #A7C6FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
      }
      /* Styling button melayang */
      .services{
        margin-top: 70px;
      }
      .serv h1{
        color: #488EFE !important;
      }
      .serv p{
        line-height: 30px;
        color: rgba(0, 0, 0, 0.5) !important;
        font-size: 16px !important;
        /* text-align: justify; */
      }

      #floatingButton {
          font-weight: bolder;
          position: fixed;
          top: 90%; /* Jarak dari atas */
          right: 10px; /* Jarak dari kanan */
          background: transparent;
          border: 2px solid #488EFE;
          color: #488EFE;
          padding: 0; /* Kurangi padding agar tidak menggeser SVG */
          border-radius: 50px;
          width: 40px; /* Sedikit lebih besar untuk kenyamanan */
          height: 40px;
          cursor: pointer;
          display: none; /* Tombol disembunyikan secara default */
          z-index: 1000;    
          display: flex; /* Flexbox untuk memposisikan svg */
          justify-content: center; /* Horizontal align center */
          align-items: center; /* Vertical align center */
      }

      #whatsapp {
        position: fixed;
        top: 50%;
        right: 10px;
        background: none;
        border: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #whatsapp a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
  }
    
    #whatsapp svg {
        width: 40px;
        height: 40px;
        transition: all 0.3s ease;
        animation: float 3s ease-in-out infinite;
        will-change: transform;
        filter: drop-shadow(0 2px 1px rgba(191, 200, 208, 1));
    }
    
    #whatsapp:hover svg {
        width: 55px;
        height: 55px;
    }
    
    .contact-text {
        position: absolute;
        right: 50px; /* Jarak dari logo */
        opacity: 0; /* Tersembunyi secara default */
        font-size: 14px;
        background-color: white;
        color: black;
        padding: 5px 10px;
        font-weight: bolder;
        font-family: "Raleway", sans-serif;
        border-radius: 50px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        white-space: nowrap; /* Hindari teks terpotong */
        transition: all 0.3s ease;
        pointer-events: none; /* Tidak bisa diklik */
        transition: all 0.3s ease;
        animation: float 3s ease-in-out infinite;
        will-change: transform;
        filter: drop-shadow(0 2.5px 1px rgba(191, 200, 208, 1));
    }
    
    
    #whatsapp:hover .contact-text,
    #whatsapp:active .contact-text {
        opacity: 1;
        transform: translateX(-10px); /* Efek animasi muncul */
    }
    
    
    /* .about img {
      animation: float 3s ease-in-out infinite; 
      will-change: transform;
    } */

      #floatingButton svg {
        transition: 0.9s;
          margin-top: -20%;
          width: 50%; /* Atur ukuran SVG sesuai tombol */
          height: 50%; /* Pastikan SVG proporsional */
      }
      #floatingButton:hover{
        background-color: #488EFE;
        color: #fff;
      }

      .partner h1{
        /* color: rgba(0, 0, 0, 0.8) !important; */
        color: #191250 !important;
        font-size:40px !important;
        font-family: "Raleway", sans-serif;
        font-weight: bolder !important;
        
      }
      .partner{
        margin-top: 10px; 
        padding: 30px !important;       
        /* padding-left: 70px;
        padding-right: 70px; */
        background-color: rgba(92, 149, 255, 0.1);        
      }

      .about h1{
        color: #488EFE !important;
        margin-top: 20px;
        padding: 10px !important;
      }
      .about p{
        line-height: 30px;
        padding:0px !important;
        color: #010A44 !important;
        font-size: 16px !important;
        text-align: justify;
        padding: 10px !important;
      }
      .about {
        padding: 20px;
        margin-top: 10px;        
        background-color: rgba(92, 149, 255, 0.1);
        /* border-radius: 20px; */
    }
        .about img{
          width: 100%; 
          height: auto; 
          position: relative; 
          /* top: -50px;  */
          border-radius: 8px;        
        }
        
    
    @media (min-width: 992px) { /* Ukuran lg dimulai dari 992px */
      .partner-logos img {
        max-width: 160px;
        padding-right: 20px;
        padding-left: 20px;
      }

        .txtabout{
          padding-right: 40px;
        }
        .partner{
          margin-top: 10px; 
          padding: 35px !important;       
          padding-left: 100px !important;
          padding-right: 100px !important;
          background-color: rgba(92, 149, 255, 0.1);        
        }
        .partner h1{
          /* color: rgba(0, 0, 0, 0.8) !important; */
          color: #191250 !important;
          padding-right: 70px;
          font-size:30px !important;
          font-family: "Raleway", sans-serif;
          font-weight: bolder !important;
        }
        .partner p{
          padding-right: 70px;
        }
      
        .about {
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 50px;
            margin-right: 50px;
            padding-left: 40px;
            border-radius: 20px;
        }
        .about img{
          width: 100%; 
          height: auto; 
          position: relative; 
          top: -50px; 
          border-radius: 8px; 
          box-shadow: -15px 30px 10px rgba(54, 64, 89, 0.2);
        }
        .partner h1{ 
          padding-right:100px;
        }
        

        .partner-logos{
          gap: 15px;
          
        }
    }
    
      
/* Hero */
html {
    scroll-behavior: smooth;
}
#navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan saat discroll */
    .nav-link{
      color: #191250 !important;
    }
    .white{      
      display:none;   
    }
    .blue{
      display:block;
    }
}
  .white{  
    transition:   0.5s;    
    display:block;   
  }
  .blue{
    transition:   0.5s;
    display:none;
  }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }       
      
        .hero-section {
            position: relative;
            width: 100%;
            height: 100vh;
            background: url('../img/bg.jpg') no-repeat center center/cover;
        }
        .hero-section-domain {
          position: relative;
          width: 100%;
          height: 100vh;
          background: url('../img/domainbg.jpg') no-repeat center center/cover;
        }
        .hero-section-home-domain {
          position: relative;
          border-radius: 20px;
          width: 100%;
          height: 50vh;
          /* background-color: rgba(92, 149, 255, 0.1); */
          background: url('../img/domainbg.jpg') no-repeat center center/cover;
        }
        .hero-overlay-home-domain {
          position: absolute;
          border-radius: 20px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(10px);
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* background-color: rgba(255, 203, 71, 0.1); */
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            /* justify-content: center; */
            align-items: center;
        }
        .hero-overlay-domain {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.2);
          backdrop-filter: blur(10px);
          display: flex;
          justify-content: center;
          align-items: center;
      }
      

        .hero-text {
            font-family: "Inter", sans-serif;
            color: white;
            font-weight: bold;
        }
        .hero-text h1{
            
            color: white;
            font-weight:900;
            font-size: 55px;
        }
        .hero-text-domain h1{
          margin-top: 0px;
          color: #fff;
          /* text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5); */
          font-weight:900;
          font-size: 55px;
      }

        .hero-text p {
            margin-bottom: 8px !important;
            margin-top: 10px;
            font-size: 15px;
            font-weight:lighter;
        }
        .hero-text-domain span {
          color:white;
          margin-bottom: 50px;
          font-size: 15px;
          font-weight:normal;
      }
        
/* Hero */

/* language selector */
.navbar-toggler {
    border: none; /* Menghilangkan border */
    outline: none; /* Menghilangkan outline */
}

.navbar-toggler:focus {
    box-shadow: none; /* Menghilangkan efek fokus */
}


.navbar-toggler:focus {
    box-shadow: none; /* Menghilangkan efek fokus */
}

     
      .language-selector {
          display: inline-block;
          position: relative;
      }

      .toggle-container {
          position: relative;
          width: 55px;
          height: 25px;
      }

      .toggle-checkbox {
          display: none;
      }

      .toggle-label {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #488EFE;
          border-radius: 30px;
          cursor: pointer;
          height: 100%;
          position: relative;
      }

      .toggle-inner {
          color: white;
          font-weight: bold;
          position: absolute;
          width: 100%;
          top: 50%; 
          transform: translateY(-50%);
          transition: opacity 0.3s, left 0.3s;
          white-space: nowrap;
      }

      /* Switch */

      .toggle-switch {
          position: absolute;
          width: 23px; 
          height: 23px; 
          border-radius: 50%;
          top: 1px;
          left: 1px;
          transition: transform 0.3s;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('../img/in.svg'); /* Bendera Indonesia */
      }

      .toggle-checkbox:checked + .toggle-label .toggle-switch {
          transform: translateX(30px);
          background-image: url('../img/en.svg'); /* Bendera Inggris */
      }


      .toggle-checkbox:checked + .toggle-label {
          background-color: #488EFE;
      }

      .toggle-checkbox:checked + .toggle-label .toggle-switch {
          transform: translateX(30px);
      }

      /* Tampilkan IN di kanan saat tidak aktif */
      .toggle-checkbox:not(:checked) + .toggle-label .toggle-inner {
          left: calc(100% - 25px); 
          content: 'IN'; 
          opacity: 1; 
      }

      /* Tampilkan EN di kiri saat aktif */
      .toggle-checkbox:checked + .toggle-label .toggle-inner {
          left: 5px; 
          content: 'EN'; 
          opacity: 1; 
      }
/* end language selector */
      ::-webkit-scrollbar {
         width: 0px;
      }
      .way{
        font-size: 25px;
      }
      .gb1:hover{
          
          transform: rotate(03deg) scale(1.2);
          
        }
        .gb2:hover{
         
          transform: rotate(-03deg) scale(1.2);
          
        }
        .gb3:hover{
          
          transform: rotate(03deg) scale(1.2);
          
        }
      .cn:hover{
         
          transform: scale(1.05) !important;
        }
      .btn {
            font-family: "Raleway", sans-serif;
            border-radius: 10px;
            color: white;
            /* margin-top: 10px; */
            padding: 10px;
            width: 150px;
            border:none;
            transition: 0.9s;
            background-color:#488EFE;
            opacity: 60%; 
            backdrop-filter: blur(30px);
        }

        .btn:hover{
            color: white;
            border:none;
            background-color:#488EFE; 
            
            opacity: 100%;
            
        }

        .garis{
          content: "";
          border-top: 3px solid #FF0000;
          border-left: 3px solid #FF0000;
          width: 5%;
          padding-left: 20px;
          padding-top: 10px;
          margin-left: -22px;
        }
        .navbar{
          padding: 0px;
          /* background-color: rgba(46,47,52, 1); */
          left: 0;
          top: 0;
          position: fixed;
          background-position: bottom;
          width:100%;
          z-index: 100;
        }
        .nav-link{
          color: #fff;
          transition:   0.5s;
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-size: 15px;
          position: relative;
          display: inline-block;
          padding-bottom: 2px;
        }     

        .nav-link::after {
            color: #fff;
            content: '';
            position: absolute;
            width: 0;
            height: 2.5px;
            background-color: #488EFE;
            left: 0;
            bottom: 0;
            border-radius: 3px;
            transition: width 0.4s ease;
        }
        .nav-link:hover::after {
            width: 50%;
            left: 25%;
        }
        .nav-link:hover{
          color: #fff;
        }
        .wrapper{
          margin-left: 30px;
          margin-top: 10px;
          display: inline-flex;
          font-family: "Raleway", sans-serif;
          letter-spacing: 3px;
    
        }
        .wrapper .statistic-txt{
          color: white;

        }
        .wrapper .dynamic-txts{
          margin-left: 15px;
          height: 23px;
          overflow: hidden;

        }
        .dynamic-txts li{
          margin-left: -30px;
          list-style: none;
          position: relative;
          top: 0;
          animation: slide 6s steps(4) infinite;
        }
        @keyframes slide{
          100%{
            top: -99px;
          }
        }
        .dynamic-txts li span{
          position:relative ;
        }
        .dynamic-txts li span::after{
          content: "";
          position: absolute;
          left: 0;
          height: 120%;
          width: 120%;
          background: #2e2f34;
          border-left: 2px solid white;
          margin-bottom: -10px;
          animation: typing 1.5s steps(10) infinite;
        }
        @keyframes typing{
          100%{
            left: 100%;
            margin: 0 -35px 0 35px;
          }
        }
        .nm{
          font-family: russo one; 
          letter-spacing: 5px; 
          font-weight: 500; color: white;
          font-size: 45px;
        }
        .nm .r{
          font-size: 50px;
        }
        .halo{
          font-family: "Raleway", sans-serif;
          width: 70%;
          font-size: 12px;
          color: #d3d3d3;
          letter-spacing: 3px;
          margin-left: 30px;
        }
        .sk{
          font-family: "Raleway", sans-serif;
          text-align: center;
          font-size: 12px;
          color:#d3d3d3 ;
          letter-spacing: 3px;
        }
        .col-sm-6{
          max-width: 767.98px;
        }
        .skil{
          width:50%;
        }
        .carousel-caption {
          background-color: rgba(0, 0, 0, 0.8);
          font-size: 12px;
          font-family: "Raleway", sans-serif;
          letter-spacing: 3px;
}
        
/* phone View */
@media (max-width: 767.98px) {  
          .hero-section-home-domain {
            height: 40vh;
            
          } 
          .webbuilder h1{
            font-size: 30px;
          }   
          .webbuilder span{
            font-size: 12px;
          }
          
          .way{
            font-size: 20px;
          }

          .cari{
           width: 100px;
           font-weight: bolder !important;
          }
        

        .skil{
          width: 100%;
        }

        .navbar{
          background-color: rgba(41,42,47, 1);
          left: 0;
          top: 0;
          position: fixed;
          background-position: bottom;
          width:100%;
          z-index: 1;
        }
          .nm{
            font-size: 20px;
            letter-spacing: 1px;
          }
          .nm .r{
            font-size: 23px;
            margin-bottom: 10px;
          }
          .wrapper{
            margin-left: -15px;
            font-size: 10px;
          }
          .dynamic-txts li {
            margin-top: 2.5px;
          }
          .dynamic-txts li span::after{
          height: 127%;
          }
          @keyframes slide{
            100%{
              top: -69px;
            }
          }
          .statistic-txt{
            font-size: 0px;
            margin-top: 3px;
          }
          .gbr{
            margin-top: -250px;
            margin-left: auto;
            width: 50%;
          }
          
          .halo{
            margin-top: -10px;
            margin-left: 15px;
            font-size: 8px;
          }

}
/* end phone view */


/* tab view */
@media (min-width: 767.98px) and (max-width: 991.98px){
          .skil{
          width: 70%;
        }

          .nm{
            font-size: 30px;
            
          }
          .nm .r{
            font-size: 35px;
            margin-bottom: 10px;
          }

          .gbr{
            margin-top: -350px;
            margin-left: auto;
            width: 40%;
          }

}
/* end tab view */
    
  